body {
    background-image: url(assets/RobloxScreenShot20230324_142728667.png);
}
a {
    color:#1a1a1a;
}
#zagolovok1 {
    background-color: #e2e2e2;
    border: 2px solid #1a1a1a;
}
#zagolovok2 {
    background-color: #e2e2e2;
    border: 2px solid #1a1a1a;
}
#zagolovok3 {
    background-color: #e2e2e2;
    border: 2px solid #1a1a1a;
}
#div1 {
    background-color: #e2e2e2;
    border: 2px solid #1a1a1a;
}
#div2 {
    background-color: #e2e2e2;
    border: 2px solid #1a1a1a;
}
#div3 {
    background-color: #e2e2e2;
    border: 2px solid #1a1a1a;
}
#div4 {
    background-color: #e2e2e2;
    border: 2px solid #1a1a1a;
}