body {
    background-image: url(assets/RobloxScreenShot20230324_142728667.png);
}
a {
    color:#1a1a1a;
}
#zagolovok1 {
    background-color: #f0f0f0;
    border: 1px solid #1a1a1a;
}
#div1 {
    background-color: #f0f0f0;
    backface-visibility: 0.7;
    border: 1px solid #1a1a1a;
}
#div2 {
    background-color: #f0f0f0;
    backface-visibility: 0.7;
    border: 1px solid #1a1a1a;
}
#div3 {
    background-color: #f0f0f0;
    backface-visibility: 0.7;
    border: 1px solid #1a1a1a;
}
#div4 {
    background-color: #f0f0f0;
    backface-visibility: 0.7;
    border: 1px solid #1a1a1a;
}