/*body {
    background-image: url(assets/RobloxScreenShot20230324_142728667.png);
} */
body {
    background-color: rgb(214, 214, 214);
}
a {
   color:#1a1a1a;
} 
.navbar {
    background-color: rgb(244, 252, 255);
    width: 110%;
    height: 70px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, .1);
}
.navbar.container {
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar-menu{
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
}
.navbar-menu li {
    display: inline-block;
}
.navbar-menu li a{
    display: inline-block;
    color: #000;
    opacity: 0.6;
    text-decoration: none;
    padding: 10px;
    transition: all .08s ease-in-out;
}
.navbar-menu li a:hover {
    opacity: 1;
}
.navbar-wrap {
    display: flex;
    flex-flow: none nowrap;
}
.navbar-logo {
    font-weight: 700;
    font-size: 26px;
    text-decoration: none;
    color: #3a3a3a;
    transition: all .08s ease-in-out;
}
.navbar-logo:hover {
    color: #707070;
}

.big-text {
    opacity: 1;
}

.big-div {
    opacity: 0.5;
    border-radius: 80px;
}

.title1 {
    opacity: 1;
    background-color: rgb(179, 179, 179);
    border-radius: 80px;
    text-decoration: none;
    color: #494949;
    text-align: center;
}